@import '../utils/variables.scss';

.contenidosWindows {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $strong-blue;
    padding: 10%;

    .form-todos {
        display: flex;
        flex-direction: column;
        width: 60%;
    }
}

.button-todos {
    @include button-normal-blue;
    margin-bottom: 20px;
}

.nav-todos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h3-todos {
    text-align: left;
    margin-top: 20px;
}

.first-label {
    padding-top: 20px;
}

hr {
    margin-bottom: 20px;
}